
table {
	/*border: solid black 1px;*/
}

td {
	border: solid black 1px;
	padding: 2px;
}

tr.building {
	background-color: lightcyan;
}

tr.resource {
	background-color: lightgray;
}

td.ingredients_col tr.building {
	display: none;
}

#content.show-building-ing td.ingredients_col tr.building {
	display: table-row;
}
